.App {
  text-align: center;
  align-items: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  color: white;
}

.msgToShow{
  align-items: center;
  display: flex;
  min-height: 10rem;
}